*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gil Roy";
}
body,html{
  height: 100%;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}